fastapi
uvicorn[standard]
sqlalchemy==2.0.41
sqlalchemy-utils
psycopg2-binary==2.9.10
pydantic
debugpy
pluggy
python-dotenv
fastapi-users[sqlalchemy]
pyyaml
networkx
Pillow
requests
boto3
paramiko
croniter
pytest
httpx
openpyxl
pdf2image
rdflib